<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <!--Admin-->
      <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
        <span>Admin </span>
        <mat-icon matListItemIcon>home_work</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}">expand_more</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!--Inicio Sub Menu Admin-->
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
        <a mat-list-item [routerLink]="['auditoria']">Auditoria</a>
        
        <a mat-list-item [routerLink]="['establecimiento']">Establecimiento</a>
     
      </div>
      <!--Fin Sub Menu Admin-->
      <!--Fin Admin-->

      <!--Triaje-->
      <mat-list-item (click)="showSubMenuTriaje = !showSubMenuTriaje" class="parent">
        <span>Triaje</span>
        <mat-icon matListItemIcon>medication_liquid</mat-icon>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubMenuTriaje}">expand_more</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!--Inicio Sub Menu Triaje-->
      <div class="submenu" [ngClass]="{'expanded' : showSubMenuTriaje}">
        <a mat-list-item>Submenu Item 1</a>
        <a mat-list-item>Submenu Item 2</a>
      </div>
      <!--Fin Sub Menu Triaje-->
      <!--Fin Triaje-->

    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HRHVM</span>

      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>