<app-card titulo="Consultar Citas">   
    <form [formGroup]="form" class="container m-2" >
        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>DNI</mat-label>
                    <input matInput #input placeholder="Ingrese DNI" formControlName="dni" maxlength="8" minlength="8">
                    <mat-hint align="end">{{input.value.length}}/8</mat-hint>
                    <mat-icon matSuffix>contact_mail</mat-icon>
                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre('dni')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Fecha Nacimiento:</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechanac">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="multi-year"></mat-datepicker>
                    <mat-error *ngIf="form.invalid">{{obtenerErrorCampoNombre('fechanac')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <button mat-raised-button color="primary" (click)="enviarData()">
                    Buscar
                </button>
            </div>
        </div>
    </form>
    <table class="tablenew m-4" *ngIf="this.datageneral.length">
        <thead>
            <tr>
                <th>Cuenta Atención</th>
                <th>Fecha de Atención (Hora)</th>
                <th>Servicio</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of datageneral" [ngClass]="{'activo': item.Estado,'atendido':!item.Estado }" >
                <td> {{item.IdCuentaAtencion}}</td>
                <td> {{item.FechaFormateada}} ({{item.HoraIngreso}})</td>                
                <td> {{item.NomServicio}}</td>
                <td>
                    <span *ngIf="item.Estado">                        
                        <div class="success icon-container">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done_all"></mat-icon>
                            <div class="text-icon"> Pendiente</div> 
                        </div>
                    </span>
                    <span *ngIf="!item.Estado">                        
                        <div class="b icon-container">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="privacy_tip"></mat-icon>
                            <div class="text-icon">Atendido</div> 
                          </div>
                    </span>                 
                </td>
            </tr>
        </tbody>
    </table>
</app-card>