.pasada{
    background-color: darkgrey;
    
}

.tablenew {
    width: 95%;
    border-collapse: collapse;
    background-color: white;
  }
  
  /* Estilo para las filas impares */

  /* Estilo para las celdas */
  .tablenew td, .tablenew th {
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border: 1px solid #dee2e6;
  }
  
  /* Estilo para las celdas de encabezado */
  .tablenew th {
    font-weight: bold;
    background-color: #e9ecef;
    border-bottom: 2px solid #dee2e6;
  }
  
  /* Estilo para las celdas de encabezado de columna */
  .tablenew th {
    text-align: left;
  }
  
  /* Estilo para las celdas de encabezado de fila */
  .tablenew th,
  .tablenew td {
    border-bottom: 1px solid #dee2e6;
  }
  
  /* Estilo para las celdas de acción (por ejemplo, botones) */
  .tablenew .action-cell {
    width: 1%;
    white-space: nowrap;
  }

  
  .atendido{
    color:#9B9D9E;
    background-color: #D8D8D8;
   
  }

  .icon-container {
    display: flex;
    justify-content:  center;  
    width: 110px;
    text-align: center;  
  }
  
  .success {
    font-weight: bolder;
    background-color: #D4EDDA;
    color:#155724;
    border-radius: 25px;
    opacity: 0.7;
  }


  .breadcrumb{
    background-color:#e9ecef;
    padding: 1em;
  }

  .fade-in {
    opacity: 0;
    transition: opacity 1.5s ease; /* Esto define la transición */
  }
  
  .fade-in.active {
    opacity: 1;
  }
  

