.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}

body{
    background-color: #e2e1df;
}
mat-card {
    max-width: 350px;
    width: 100%;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 12px 53px -12px rgba(0,0,0,0.68);
    -webkit-box-shadow: 10px 12px 53px -12px rgba(0,0,0,0.68);
    -moz-box-shadow: 10px 12px 53px -12px rgba(0,0,0,0.68);
  overflow: hidden;
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
}

.img-log{
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}
.cabezera{
    text-align: center;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }