<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="display: flex;justify-content: center;">
      <img src="../../../../assets/logo_hrhvm_f.ico" width="40%" alt="">
    </mat-toolbar>

    <mat-nav-list>

      <a mat-list-item [routerLink]="['citas']">
        <span matListItemTitle>Citas</span>
        <mat-icon matListItemIcon>person</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['patologica']">
        <span matListItemTitle>Anatomia Patologica</span>
        <mat-icon matListItemIcon>apartment</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['consultacita']">
        <span matListItemTitle> Citas Disponibles</span>       
        <mat-icon matListItemIcon>apartment</mat-icon>
      </a>
      <!--    <a mat-list-item >
        <span matListItemTitle>Laboratorio</span>  
        <mat-icon matListItemIcon>apps</mat-icon>            
      </a>-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>HRHVM</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>