
    <header>
        <div class="px-3 py-2 text-bg border-bottom">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <img src="../../../assets/logominsahrhvm.png" alt="" width="300px">
              </a>  
              <H2> REPORTES - HOSPITAL REGIONAL HERMILIO VALDIZAN MEDRANO </H2>
    
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
             
         
            
                
              
              </ul>
            </div>
          </div>
        </div>
    
      </header>

      <main>
     
      
        <div class="container px-4 py-5" id="featured-3">
      
          <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="feature col" >         
              <h3 class="fs-2 text-body-emphasis">Reporte Medico Auditor</h3>
              <p style="text-align: justify;">Informe detallado sobre la productividad del médico auditor, el cual se centra en un análisis exhaustivo de su desempeño durante un periodo específico. Este informe permite seleccionar al personal médico y establecer el rango de fechas de interés para obtener datos relevantes.</p>
              <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fAuditorProduccion%2fReporteMedicoAuditor&rs:Command=Render" class="icon-link">
                Ir al reporte
                <i class="bi bi-heart-fill"></i>
              </a>
            </div>
            <div class="feature col">             
              <h3 class="fs-2 text-body-emphasis">Reporte Citas Disponibles</h3>
              <p style="text-align: justify;">Este reporte que muestra las citas médicas disponibles de nuestras diversas especialidades de consultorio externo. Este reporte permite a los usuarios seleccionar un rango de fechas específico para visualizar las citas disponibles durante ese período de tiempo.</p>
              <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fProyectoReporte%2fReporteCitas&rs:Command=Render" class="icon-link">
                Ir al reporte
                <i class="bi bi-heart-fill"></i>
              </a>
            </div>
            <div class="feature col">
                <h3 class="fs-2 text-body-emphasis">Atenciones Por Medico</h3>
                <p style="text-align: justify;">Este informe ofrece un análisis exhaustivo de las interacciones y servicios proporcionados por los médicos, detallando las atenciones brindadas a los pacientes. Seleccionar al personal médico y establecer el rango de fechas de interés para obtener datos relevantes.</p>
                <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fProductividadMedicoAtenciones%2fMedicoAtencionesProductividad&rs:Command=Render" class="icon-link">
                  Ir al reporte
                  <i class="bi bi-heart-fill"></i>
                </a>
            </div>

            <div class="feature col">
              <h3 class="fs-2 text-body-emphasis">Pacientes Hospitalizados</h3>
              <p style="text-align: justify;">Este informe ofrece un análisis exhaustivo de los pacientes hospitalizados con la informacion de fuente de financiamiento, detallando numero de documento, nombre completo. Seleccionando el rango de fecha de interes para obtener datos. </p>
              <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fPacientexServicio%2fReportePacientesServicio&rs:Command=Render" class="icon-link">
                Ir al reporte
                <i class="bi bi-heart-fill"></i>
              </a>
          </div>


          <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Cantidad Atenciones</h3>
            <p style="text-align: justify;">Este informe ofrece un análisis exhaustivo de los pacientes atendidos en consultorio externo brindando informacion cuantitativa de estos, para poder llevar un registro. Seleccionando el rango de fecha de interes para obtener datos. </p>
            <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fProyectoReporte%2fReporteAtenciones&rs:Command=Render" class="icon-link">
              Ir al reporte
              <i class="bi bi-heart-fill"></i>
            </a>
        </div>

        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Anatomia Patologia</h3>
            <p style="text-align: justify;">Este informe ofrece un análisis exhaustivo de las ordernes realizada por el personal de anatomia patologia asimismo se incluyo un grafico de barras, para poder llevar un registro. Seleccionando el rango de fecha de interes para obtener datos. </p>
            <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fAnatomiaPatologiaProduccion%2fReport1&rs:Command=Render" class="icon-link">
              Ir al reporte
              <i class="bi bi-heart-fill"></i>
            </a>
        </div>

        <div class="feature col">
          <h3 class="fs-2 text-body-emphasis">Exámenes Laboratorio (Patología Clínica)</h3>
          <p style="text-align: justify;">Este informe ofrece un análisis exhaustivo de las ordernes realizada por el personal de anatomia patologia asimismo se incluyo un grafico de barras, para poder llevar un registro. Seleccionando el rango de fecha de interes para obtener datos. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReporteExamenesLaboratorio%2fReportExamenLaboratorio&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Citados / Atendidos por Medico </h3>
          <p style="text-align: justify;">El reporte de "Citados/Atendidos por Médico" es una herramienta vital en la gestión de la atención médica que proporciona una visión detallada de la carga de trabajo y la eficiencia de los médicos en un centro de salud específico. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteCitadosAtendidos&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

      

      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Mortalidad </h3>
          <p style="text-align: justify;">El Reporte de Mortalidad es un documento que recopila y analiza datos sobre las defunciones ocurridas en un período específico y en una población determinada. Este informe es crucial para comprender las tendencias de mortalidad, identificar posibles problemas de salud pública y orientar políticas de prevención y atención médica. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteMortalidad&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>
      
      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Reporte Productividad Archivos </h3>
          <p style="text-align: justify;">El informe de productividad de archivos del hospital se centra en evaluar la eficiencia y efectividad de la gestión documental en el entorno hospitalario. Se analizan diversos aspectos, como la creación, organización, acceso y uso de los archivos médicos. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteProductividadArchivo&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Reporte Productividad Admisión </h3>
          <p style="text-align: justify;">El informe de productividad de archivos del hospital se centra en evaluar la eficiencia y efectividad de la gestión documental en el entorno hospitalario. Se analizan diversos aspectos, como la creación, organización, acceso y uso de los archivos médicos. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteProductividadAdmision&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Reporte FUAS Emitidas </h3>
          <p style="text-align: justify;"> Reporte FUAS Emitidas por los servicios y consultoros generados; con los respectivos pacientes, número de documento, número de FUA.  </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteFuasEmitidos&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

      <div class="feature col">
          <h3 class="fs-2 text-body-emphasis"> Reporte Horas Programadas C.E. </h3>
          <p style="text-align: justify;"> Reporte Horas Programadas C.E. </p>
          <a target="_blank" href="http://192.168.210.70/ReportServer/Pages/ReportViewer.aspx?%2fReportMed%2fReporteHorasProgramadas&rs:Command=Render" class="icon-link">
            Ir al reporte
            <i class="bi bi-heart-fill"></i>
          </a>
      </div>

          
          </div>
        </div>
        </main>

 
